@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1400px;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    color: white;
}

.background{
    background: rgb(29, 29, 29);
    height: 100vh;
    text-align: center;
}

.background h1{
    font-family: 'Rubik Vinyl', cursive;
}

.calc{
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 20px;
}

.calc h1{
    font-family: 'Poppins', sans-serif;
}

.bnt{
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
    border: none;
    background: rgb(26, 26, 26);
    color: white;
    transition: 0.2s all;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}

.bnt:hover{
    background-color: rgb(22, 22, 22);
    transition: 0.2s all;
}

.bnt:active{
    background-color: rgb(16, 16, 16);
    transform: scale(0.92);
}

#findings{
    background-color: white;
    width: 230px;
    height: 40px;
    margin: 5px;
    font-size: 25px;
    border-radius: 15px;
    color: black;
    text-align: right;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}